.box {
   $root: &;

    &__container {
      display: flex;

      &-el {


        width: 50%;
        margin: 10px;
        background-color: $red;
        &--green {
          background-color: $green;


        }

      //  &:nth-child(1) {
       //   background-color: $red; //костыли для смены цвета, иначе приоритет красному
       // }

        &:nth-child(2) {
          background-color: $yellow;
        }




        &--none {
          display: none;
        }
      }
    }


    &__footer
        {
            display: flex;
            justify-content: center;
            margin-top: 40px;
            &-button{

            }

        }
}