mixin box(props)
    .box&attributes(attributes)
        .box__container
            .box__container-el
                p text
                p text
                p text
            .box__container-el

                    ol
                        li content
                        li content
                        li content
                    ul
                        li content
                        li content
                        li content
        .box__footer
            button.box__footer-button Нажми